.navbar{
    position: fixed;
    top : 0;
    z-index: 1 ;
    background-color: #222629;
    box-shadow: rgba(63, 63, 66, 0.54) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 100%;
    margin: auto;
    padding: 15px;
    color: #EDF5E1;
}
#linkStack{
    gap : 30px;
}
#normal{
    margin-right: 20px;
}
#hamburger{
    display: none;
    margin-right: 20px;
}
#item{
    color: #EDF5E1;
}

@media only screen and (max-width: 950px) {
    #normal{
        display: none;
    }
    #hamburger{
        display: initial;
    }
}